<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="${titulo}">Lista de Professores</title>
</head>




<header th:fragment="header(titulo)">
    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a aria-current="page" class="nav-link"
                   th:classappend="${#httpServletRequest.getRequestURI().equals('/') ? 'active' : ''}"
                   href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${#httpServletRequest.getRequestURI().startsWith('/professores') ? 'active' : ''}"
                   href="/professores">Professores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Alunos</a>
            </li>
        </ul>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1 th:text="${titulo}">Oi!</h1>
            </div>
        </div>
    </div>
</header>